@media (max-width: 768px) {
  .App-nav {
    flex-direction: column;
  }

  .App-nav a {
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 20vmin;
  }

  .tour-dates li {
    flex-direction: column;
    align-items: flex-start;
  }

  .tour-dates span {
    margin-bottom: 5px;
  }
}
